{%extends "film_info/header.html" %}

{%block content%}

  <div class="row">
    {%for am in all_movies%}
      <div class="col s12 m6">
        <div class="card purple lighten-4">
          <div class="card-content black-text">
            <span class="card-title">{{am.film_title}}</span>
            <p>Year Released: {{am.year}}</p>

            <p>Genre: {{am.genre}}</p>
          </div>
          {% for review in am.review_set.all %}
          <a href=" {% url 'film_info:reviewpage' review_id=review.id %} ">More</a>
          {% endfor %}
        </div>
      </div>
      {%endfor%}
    </div>
{%endblock%}
